section#matrixchat {
    background-image: $mainBg;
    background-size: cover;
    background-position: top right;
}

// Layer between de background and elements
.mx_MatrixChat_wrapper {
    background-color: rgba(0,0,0,0.3) !important;
}

// Room view
.mx_RoomView{
    background-color: rgba(0, 0, 0, 0.75) !important;
}

// Header buttons
.mx_RoomHeader_buttons {
    background-color: transparent !important;
}

// Username color
.mx_Username_color3 {
    color: $mainColor;
}

// Download file color
.mx_MFileBody_download a {
    color: $mainColor
}

// Context menu
.mx_ContextualMenu {
    background-color: rgba(0, 0, 0, 0.85);
}

// Member list
.mx_MemberList_invite, .mx_RightPanel_invite {
    background-color: $mainColor;
}

// Top bar
// Highlight
.mx_RightPanel_headerButton_highlight:after {
    background-color: $mainColor;
}