// Side panel
.dark-panel {
    background-color: rgba(0, 0, 0, 0.83);
}

// Side panel header
.mx_TopLeftMenuButton {
    background-color: rgba(0, 0, 0, 0.21) !important;
}

// Selected room {
.mx_RoomTile_selected {
    background-color: rgba(0, 0, 0, 0.33) !important;
}
